/main
/mainWithDebug
/Models/
/Textures/
/.vscode/
/build/imgui.ini
/build/CMakeFiles
/build/cmake_install.cmake
/build/CMakeCache.txt
/build/Makefile
/build/vulkano
/build/debugVulkano
/build/libImGui.a
/build/Dependencies/GLFW/CMakeFiles/
/build/Dependencies/GLFW/cmake_install.cmake
/build/Dependencies/GLFW/Makefile
/build/Dependencies/imgui/CMakeFiles
/build/Dependencies/imgui/cmake_install.cmake
/build/Dependencies/imgui/Makefile
/c
/r
/cr
/d
/cd
*.spv