/3rdParty/GLFW/CMakeFiles
/3rdParty/GLFW/cmake_install.cmake
/3rdParty/GLFW/Makefile
/3rdParty/imgui/CMakeFiles
/3rdParty/imgui/cmake_install.cmake
/3rdParty/imgui/Makefile
/.cache/
/build/
/Session.vim

/samplePrograms/rasterizer/.cache/
/samplePrograms/rasterizer/bin/
/samplePrograms/rasterizer/Models/
/samplePrograms/rasterizer/enviromentMaps/
/samplePrograms/rasterizer/build/.cache/
/samplePrograms/rasterizer/build/CMakeFiles
/samplePrograms/rasterizer/build/cmake_install.cmake
/samplePrograms/rasterizer/build/CMakeCache.txt
/samplePrograms/rasterizer/build/compile_commands.json
/samplePrograms/rasterizer/build/Makefile
/samplePrograms/rasterizer/build/libImGui.a
/samplePrograms/rasterizer/c
/samplePrograms/rasterizer/r
/samplePrograms/rasterizer/cr
/samplePrograms/rasterizer/d
/samplePrograms/rasterizer/cd

/samplePrograms/raytracer/.cache/
/samplePrograms/raytracer/bin/
/samplePrograms/raytracer/Models
/samplePrograms/raytracer/enviromentMaps
/samplePrograms/raytracer/build/.cache/
/samplePrograms/raytracer/build/CMakeFiles
/samplePrograms/raytracer/build/cmake_install.cmake
/samplePrograms/raytracer/build/CMakeCache.txt
/samplePrograms/raytracer/build/compile_commands.json
/samplePrograms/raytracer/build/Makefile
/samplePrograms/raytracer/build/libImGui.a
/samplePrograms/raytracer/c
/samplePrograms/raytracer/r
/samplePrograms/raytracer/cr
/samplePrograms/raytracer/d
/samplePrograms/raytracer/cd

/samplePrograms/manySpheres/.cache/
/samplePrograms/manySpheres/bin/
/samplePrograms/manySpheres/build/.cache/
/samplePrograms/manySpheres/build/CMakeFiles
/samplePrograms/manySpheres/build/cmake_install.cmake
/samplePrograms/manySpheres/build/CMakeCache.txt
/samplePrograms/manySpheres/build/compile_commands.json
/samplePrograms/manySpheres/build/Makefile
/samplePrograms/manySpheres/build/libImGui.a
/samplePrograms/manySpheres/c
/samplePrograms/manySpheres/r
/samplePrograms/manySpheres/cr
/samplePrograms/manySpheres/d
/samplePrograms/manySpheres/cd
